$large-desktop-min-width: 1270px;
$desktop-min-width: 1075px;
$large-tablet-min-width: 900px;
$tablet-min-width: 600px;

$primary-color: #fff;
$secondary-color: rgba(21, 23, 24, 0.8);
$tick-color: chartreuse;
$cross-color: crimson;
